
@tailwind base;

.btn{
  @apply px-2 py-1 rounded-md ease-in-out duration-700;
}

.btn_primary{
  @apply btn bg-[var(--primary)]
}

.btn_danger{
  @apply btn bg-[var(--danger)]
}

.btn_gradient {
  @apply bg-gradient-to-r from-teal-600 to-blue-600 hover:from-blue-800 hover:to-teal-800 
    text-white py-2 px-5 rounded-md shadow-md hover:cursor-pointer;
}

@tailwind components;
@tailwind utilities;

:root {
  --bg: #151c2c; 
  --bgSoft: #182232; /* rgb(25, 35, 50)  */
  --text: #dddd;
  --textSoft: #b7bac1;
  --bgHover: rgb(35, 45, 65);
  --primary: teal;
  --danger: rgb(178, 14, 91);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  background-color: inherit;
}

input:focus {
  outline: 1px solid #7777;
}

.dark {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
}

.light {
  --textLight: #222;
  --bgLightt: #ddd;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}
