/* ----------Gradient-------------- */
.gradient{
    background: linear-gradient(to bottom, #194c33, #bbb);
}

/* ----------Title Case-----Text Transform-------------- */
.catTitle::first-letter {
  font-weight: 600;
  text-transform: uppercase;
  }

/* ----------Batton Hover Effect------------- */
  .btn:hover {
    cursor: pointer;
    background-image: linear-gradient(rgb(0 0 0/25%) 0 0);
  }
