/* ----------Gradient-------------- */
.gradient{
    background: linear-gradient(to bottom, #194c33, #bbb);
}

/* ----------Title Case-----Text Transform-------------- */
.catTitle::first-letter {
  font-weight: 600;
  text-transform: uppercase;
  }

/* ----------Batton Hover Effect------------- */
  .btn:hover {
    cursor: pointer;
    background-image: linear-gradient(rgb(0 0 0/25%) 0 0);
  }

/* --------------------input---------------------- */
  input{
    padding: 20px;
    border: 1px solid red
  }
  input{
    outline: 1px solid red;
  }
  input::placeholder{
    color: red
  }

  /* --------------------image/filter---------------------- */
  img{
    filter: saturate(200%); /* when need saturation*/
    filter: blur(20px);     /* when need blur*/
  }
  img:active{
    filter: none;
  }

    /* -------------------- aspect-ratio for video player ---------------------- */
    .player{
      width: 100%;
      background-color: black;
      aspect-ratio: 16/7;
    }

 /* --------------------article---------------------- */ 
    article{
      scroll-padding: 1rem 0 0 0;
    }