
// ====================== Clip-path ======================//

    .container{
        width: 30%;

        .inner{
            clip-path: circle(50% at 0% 0%);
            transition: clip-path .5s ease-in-out;
        }
        
        &:hover .inner{
            clip-path: circle(75%);
        }
    }

// =================== Pseudo ::befor ::after ====================//
.card{
    width: 350px;
    height: 250px;
    background: linear-gradient(to bottom right, #F5CCA0, #E48F45);
    padding: 20px;
    border-radius: 10px;
    text-align: justify;

    &::before{
        content: "";
        background: #994D1C;
        height: 5px;
        display: block;
    }
    &::after{
        content: "This is pseudo after";
        background: #994D1C;
        display: block;
        padding: 5px;
        margin: 10px 0;
    }

    h1{
        margin-bottom: 10px;
    }
}

// =================== Pseudo ::befor ::after ====================//
.card{
    width: 350px;
    height: 250px;
    position: relative;
    background: linear-gradient(to bottom right, #F5CCA0, #E48F45);
    padding: 20px;
    border-radius: 10px;
    text-align: justify;


    &::before{
        content: "";
        position: absolute;
        background-color: #994D1C50;
        inset: 0;
        border-radius: inherit;
        clip-path: circle(30% at 0 0);
        transition: all .4s ease-in-out;
    }
    &:hover::before{
        clip-path: circle(150% at 0 0)

    }
    h1{
        margin-bottom: 10px;
    }
}
