/* ================ forword animation ================== */

<div class="hero">
  <div class="content">
    <h1 class="anim">Make<br /></h1>
    <p class="anim">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio accusamus nemo eum. Vel ex, consequuntur quae quia accusamus voluptatem harum!</p>
    <a href="#" class="btn anim">Join Now</a>
  </div>
</div>
<img src="images/pic.png" alt="model image" class="fetcher-image anim">


.content .btn{
    padding: 15px 80px;
    font-size: 16px;
    /* animate delay 0.5s*/
    animation-delay: 0.5s;
}
/* nospace between this two class */
.fetcher-image.anim { 
    /* animate delay 0.5s*/
    animation-delay: 0.5s;
}

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* ================ infinite rotate animate ================== */
  <div class="container">
    <div class="card"></div>
  </div>

.card{
    margin: auto;
    border: 2px solid gray;
    width: 40px;
    height: 200px;
    animation: animate linear 5s infinite;
}
@keyframes animate {
    100%{ rotate: 360deg;}
}

.card::after{
    content: ".";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;;
    background-color: green;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
